<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="idColumn">#</th>
                        <th scope="col" class="titleColumn">Title</th>
                        <th scope="col" class="assigneeColumn">Assignee</th>
                        <th scope="col" class="statusColumn" (click)="setStatus()">Status <span class="icon"
                                [ngClass]="{'rotate': order }">v</span></th>
                        <th scope="col" class="actionsColumn">Actions</th>
                    </tr>
                </thead>


                <tbody>
                    <tr *ngFor="let todo of todos | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>{{ todo.id }}</td>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.assignee }}</td>
                        <td>
                            <div class="statusColumn center">
                                <p class="done center" *ngIf="todo.completed">DONE</p>
                                <p class="progress center" *ngIf="!todo.completed">IN PROGRESS</p>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="deleteTodo(todo)">Delete</button>
                            <button class="btn btn-primary btn-sm" [routerLink]="['/edit', todo.id]">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>